In [1]:
#import libraries 
import pandas as pd
import re

In [2]:
#dump your file path
file = '/Users/jrt/Documents/try me/Bird Strike Project 3/Bird Strikes data.xlsx'
bird_df = pd.read_excel(file, sheet_name=None)

In [3]:
#displays the sheet names and their information
for sheet_name, data in bird_df.items():
    print(f'sheet name: {sheet_name}\n')
    print(data.info())
    print(f'(rows, columns): {data.shape}')

sheet name: Bird Strikes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25558 entries, 0 to 25557
Data columns (total 26 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Record ID                                25558 non-null  int64
 1   Aircraft: Type                           25429 non-null  object
 2   Airport: Name                            25429 non-null  object
 3   Altitude bin                             25429 non-null  object
 4   Aircraft: Make/Model                     25558 non-null  object
 5   Wildlife: Number struck                  25429 non-null  object
 6   Wildlife: Number Struck Actual           25558 non-null  int64
 7   Effect: Impact to flight                 2078 non-null   object
 8   FlightDate                               25429 non-null  datetime64[ns]
 9   Effect: Indicated Damage                 25558 non-null  object
 10  Aircraft: Number of engines?             25291 non-null  object
 11  Aircraft: Airline/Operator               25429 non-null  object
 12  Origin State                             25109 non-null  object
 13  When: Phase of flight                    25429 non-null  object
 14  Conditions: Precipitation                2015 non-null   object
 15  Remains of wildlife collected?           25558 non-null  bool
 16  Remains of wildlife sent to Smithsonian  25558 non-null  bool
 17  Remarks                                  20787 non-null  object
 18  Wildlife: Size                           25429 non-null  object
 19  Conditions: Sky                          25558 non-null  object
 20  Wildlife: Species                        25558 non-null  object
 21  Pilot warned of birds or wildlife?       25429 non-null  object
 22  Cost: Total $                            25558 non-null  int64
 23  Feet above ground                        25429 non-null  float64
 24  Number of people injured                 25558 non-null  int64
 25  Is Aircraft Large?                       25429 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(1), int64(4), object(18)
memory usage: 4.7+ MB
None
(rows, columns): (25558, 26)

In [4]:
#select the sheet to work
df = bird_df['Bird Strikes']

In [5]:
#check for the duplicates 
df[df.duplicated()]

Empty DataFrame
Columns: [Record ID, Aircraft: Type, Airport: Name, Altitude bin, Aircraft: Make/Model, Wildlife: Number struck, Wildlife: Number Struck Actual, Effect: Impact to flight, FlightDate, Effect: Indicated Damage, Aircraft: Number of engines?, Aircraft: Airline/Operator, Origin State, When: Phase of flight, Conditions: Precipitation, Remains of wildlife collected?, Remains of wildlife sent to Smithsonian, Remarks, Wildlife: Size, Conditions: Sky, Wildlife: Species, Pilot warned of birds or wildlife?, Cost: Total $, Feet above ground, Number of people injured, Is Aircraft Large?]
Index: []

[0 rows x 26 columns]

In [6]:
#function to clean column names
def clean_column_names(df):
    df.columns = [re.sub(r'[^\w\s]', '', col).replace(' ','_').lower() for col in df.columns]
    return df

In [7]:
#convert objects & bool data type into strings
def convert_object_and_bool_to_str(df):
    for col in df.select_dtypes(include=['object', 'bool']).columns:
        df[col] = df[col].astype('string')
    return df

In [8]:
#pass the function
df = clean_column_names(df)

In [9]:
df = convert_object_and_bool_to_str(df)

In [10]:
#null values and their percentage
total = df.isnull().sum()
percent = df.isnull().sum()/df.shape[0]*100
nulls = pd.DataFrame({'total': total,
                      'percent': percent,
                      'data_type': df.dtypes})
nulls

                                         total    percent       data_type
record_id                                    0   0.000000           int64
aircraft_type                              129   0.504734  string[python]
airport_name                               129   0.504734  string[python]
altitude_bin                               129   0.504734  string[python]
aircraft_makemodel                           0   0.000000  string[python]
wildlife_number_struck                     129   0.504734  string[python]
wildlife_number_struck_actual                0   0.000000           int64
effect_impact_to_flight                  23480  91.869473  string[python]
flightdate                                 129   0.504734  datetime64[ns]
effect_indicated_damage                      0   0.000000  string[python]
aircraft_number_of_engines                 267   1.044683  string[python]
aircraft_airlineoperator                   129   0.504734  string[python]
origin_state                               449   1.756788  string[python]
when_phase_of_flight                       129   0.504734  string[python]
conditions_precipitation                 23543  92.115972  string[python]
remains_of_wildlife_collected                0   0.000000  string[python]
remains_of_wildlife_sent_to_smithsonian      0   0.000000  string[python]
remarks                                   4771  18.667345  string[python]
wildlife_size                              129   0.504734  string[python]
conditions_sky                               0   0.000000  string[python]
wildlife_species                             0   0.000000  string[python]
pilot_warned_of_birds_or_wildlife          129   0.504734  string[python]
cost_total_                                  0   0.000000           int64
feet_above_ground                          129   0.504734         float64
number_of_people_injured                     0   0.000000           int64
is_aircraft_large                          129   0.504734  string[python]

In [11]:
#function for unique values
def unique_values(df, cols):
    uni_vals = {col: df[col].unique() for col in cols}
    return uni_vals

In [12]:
#columns with higher null values
higher_null = ['effect_impact_to_flight', 'conditions_precipitation']

In [13]:
unique_values(df, higher_null)

{'effect_impact_to_flight': <StringArray>
 ['Engine Shut Down', <NA>, 'Precautionary Landing', 'Other',
  'Aborted Take-off']
 Length: 5, dtype: string,
 'conditions_precipitation': <StringArray>
 [             <NA>,            'Snow',             'Fog',            'Rain',
        'Fog, Rain',      'Rain, Snow', 'Fog, Rain, Snow',       'Fog, Snow']
 Length: 8, dtype: string}

In [14]:
#fill the null values with proper values 'my case by default there are none pandas return as null'
for col in higher_null:
    df[col] = df[col].fillna('none')

In [15]:
#check for the remaining string nulls as well and fill with median as their missing null % is less
remaining_nulls = ['aircraft_type', 
                   'airport_name', 
                   'altitude_bin', 
                   'wildlife_number_struck',
                   'aircraft_number_of_engines',
                   'aircraft_airlineoperator',
                   'origin_state',
                   'when_phase_of_flight',
                   'wildlife_size',
                   'pilot_warned_of_birds_or_wildlife',
                   'is_aircraft_large']

In [16]:
unique_values(df, remaining_nulls)

{'aircraft_type': <StringArray>
 ['Airplane', <NA>]
 Length: 2, dtype: string,
 'airport_name': <StringArray>
 [                'LAGUARDIA NY',  'DALLAS/FORT WORTH INTL ARPT',
             'LAKEFRONT AIRPORT',          'SEATTLE-TACOMA INTL',
                  'NORFOLK INTL',          'GUAYAQUIL/S BOLIVAR',
             'NEW CASTLE COUNTY',  'WASHINGTON DULLES INTL ARPT',
                  'ATLANTA INTL', 'ORLANDO SANFORD INTL AIRPORT',
  ...
         'HICKORY REGIONAL ARPT',             'QUINN FIELD ARPT',
       'MONTREAL INTL (MIRABEL)',             'PORT GRAHAM ARPT',
          'MARANA REGIONAL ARPT',           'MERRIT ISLAND ARPT',
           'GRAYSON COUNTY ARPT',  'LAKE PALOURDE BASE HELIPORT',
        'CULPEPER REGIONAL ARPT',             'PRINCESS JULIANA']
 Length: 1110, dtype: string,
 'altitude_bin': <StringArray>
 ['> 1000 ft', '< 1000 ft', <NA>]
 Length: 3, dtype: string,
 'wildlife_number_struck': <StringArray>
 ['Over 100', '2 to 10', <NA>, '11 to 100', '1']
 Length: 5, dtype: string,
 'aircraft_number_of_engines': <StringArray>
 ['2', '3', '4', <NA>, '1', 'C']
 Length: 6, dtype: string,
 'aircraft_airlineoperator': <StringArray>
 [                      'US AIRWAYS*',                 'AMERICAN AIRLINES',
                           'BUSINESS',                   'ALASKA AIRLINES',
                    'COMAIR AIRLINES',                   'UNITED AIRLINES',
                    'AIRTRAN AIRWAYS',                     'AIRTOURS INTL',
              'AMERICA WEST AIRLINES',            'EXECUTIVE JET AVIATION',
  ...
               'FLIGHT INTERNATIONAL', 'BOMBARDIER BUSINESS JET SOLUTIONS',
                      'COPA AIRLINES',                         'KAISERAIR',
                            'VOLARIS',             'GRAND CANYON AIRLINES',
                         'AEROMEXICO',                'EXECUTIVE AIRSHARE',
           'PACCAIR (PRO AIRE) CARGO',         'MIDWEST AVIATION DIVISION']
 Length: 293, dtype: string,
 'origin_state': <StringArray>
 [                 'New York',                     'Texas',
                  'Louisiana',                'Washington',
                   'Virginia',                        <NA>,
                   'Delaware',                        'DC',
                    'Georgia',                   'Florida',
                 'California',                  'Illinois',
                'Connecticut',                  'Missouri',
               'Rhode Island',                    'Hawaii',
                    'Arizona',                 'Tennessee',
             'South Carolina',              'South Dakota',
                 'New Jersey',                  'Colorado',
                  'Minnesota',                   'Alabama',
                       'Ohio',                 'Wisconsin',
                   'Michigan',             'Massachusetts',
                     'Alaska',            'North Carolina',
                   'Kentucky',                   'Indiana',
                     'Oregon',              'Pennsylvania',
              'New Hampshire',                  'Arkansas',
                     'Nevada',               'Mississippi',
                   'Maryland',                     'Maine',
                     'Quebec',                     'Idaho',
           'British Columbia',                      'Utah',
                   'Nebraska',                      'Iowa',
                 'New Mexico',             'West Virginia',
                   'Oklahoma',              'North Dakota',
                    'Vermont',                   'Wyoming',
                     'Kansas',      'Prince Edward Island',
                    'Montana',               'Puerto Rico',
                    'Ontario',            'Virgin Islands',
  'Newfoundland and Labrador',                   'Alberta',
               'Saskatchewan']
 Length: 61, dtype: string,
 'when_phase_of_flight': <StringArray>
 [       'Climb', 'Landing Roll',     'Approach', 'Take-off run',
       'Descent',           <NA>,         'Taxi',       'Parked']
 Length: 8, dtype: string,
 'wildlife_size': <StringArray>
 ['Medium', 'Small', 'Large', <NA>]
 Length: 4, dtype: string,
 'pilot_warned_of_birds_or_wildlife': <StringArray>
 ['N', 'Y', <NA>]
 Length: 3, dtype: string,
 'is_aircraft_large': <StringArray>
 ['Yes', 'No', <NA>]
 Length: 3, dtype: string}

In [17]:
#fill these all nulls with median 
for col in remaining_nulls:
    df[col] = df[col].fillna(df[col].mode()[0])

In [18]:
#fill the remarks as 'not mentioned'
df['remarks'] = df['remarks'].fillna('not_mentioned')

In [19]:
#forward fill the dates as the missing values are almost in sequence 
df['flightdate'] = df['flightdate'].ffill()

In [20]:
#fill the numerical null values with median
df['feet_above_ground'] = df['feet_above_ground'].fillna(df['feet_above_ground'].median())

In [21]:
#null values and their percentage
total = df.isnull().sum()
percent = df.isnull().sum()/df.shape[0]*100
nulls = pd.DataFrame({'total': total,
                      'percent': percent,
                      'data_type': df.dtypes})
nulls

                                         total  percent       data_type
record_id                                    0      0.0           int64
aircraft_type                                0      0.0  string[python]
airport_name                                 0      0.0  string[python]
altitude_bin                                 0      0.0  string[python]
aircraft_makemodel                           0      0.0  string[python]
wildlife_number_struck                       0      0.0  string[python]
wildlife_number_struck_actual                0      0.0           int64
effect_impact_to_flight                      0      0.0  string[python]
flightdate                                   0      0.0  datetime64[ns]
effect_indicated_damage                      0      0.0  string[python]
aircraft_number_of_engines                   0      0.0  string[python]
aircraft_airlineoperator                     0      0.0  string[python]
origin_state                                 0      0.0  string[python]
when_phase_of_flight                         0      0.0  string[python]
conditions_precipitation                     0      0.0  string[python]
remains_of_wildlife_collected                0      0.0  string[python]
remains_of_wildlife_sent_to_smithsonian      0      0.0  string[python]
remarks                                      0      0.0  string[python]
wildlife_size                                0      0.0  string[python]
conditions_sky                               0      0.0  string[python]
wildlife_species                             0      0.0  string[python]
pilot_warned_of_birds_or_wildlife            0      0.0  string[python]
cost_total_                                  0      0.0           int64
feet_above_ground                            0      0.0         float64
number_of_people_injured                     0      0.0           int64
is_aircraft_large                            0      0.0  string[python]

In [22]:
#keep the raw as raw " EVERY THING IS A COPY OF A COPY OF A COPY" 
bird_df = df.copy()

In [23]:
bird_df.head()

,record_id,aircraft_type,airport_name,altitude_bin,aircraft_makemodel,wildlife_number_struck,wildlife_number_struck_actual,effect_impact_to_flight,flightdate,effect_indicated_damage,...,remains_of_wildlife_sent_to_smithsonian,remarks,wildlife_size,conditions_sky,wildlife_species,pilot_warned_of_birds_or_wildlife,cost_total_,feet_above_ground,number_of_people_injured,is_aircraft_large
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,2000-11-23,Caused damage,...,False,FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN T...,Medium,No Cloud,Unknown bird - medium,N,30736,1500.0,0,Yes
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,none,2001-07-25,Caused damage,...,False,102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR ...,Small,Some Cloud,Rock pigeon,Y,0,0.0,0,No
2,207601,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,none,2001-09-14,No damage,...,False,FLEW UNDER A VERY LARGE FLOCK OF BIRDS OVER AP...,Small,No Cloud,European starling,N,0,50.0,0,No
3,215953,Airplane,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,2002-09-05,No damage,...,False,"NOTAM WARNING. 26 BIRDS HIT THE A/C, FORCING A...",Small,Some Cloud,European starling,Y,0,50.0,0,Yes
4,219878,Airplane,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,none,2003-06-23,No damage,...,False,NO DMG REPTD.,Small,No Cloud,European starling,N,0,50.0,0,No

In [24]:
#drop the columns which you dont want
drop_columns = ['aircraft_type', 'aircraft_number_of_engines', 'wildlife_number_struck', 'remains_of_wildlife_collected',
                'remains_of_wildlife_sent_to_smithsonian', 'remarks', 'wildlife_size', 'is_aircraft_large']

In [25]:
bird_df = bird_df.drop(columns = drop_columns)

In [26]:
bird_df.head()

,record_id,airport_name,altitude_bin,aircraft_makemodel,wildlife_number_struck_actual,effect_impact_to_flight,flightdate,effect_indicated_damage,aircraft_airlineoperator,origin_state,when_phase_of_flight,conditions_precipitation,conditions_sky,wildlife_species,pilot_warned_of_birds_or_wildlife,cost_total_,feet_above_ground,number_of_people_injured
0,202152,LAGUARDIA NY,> 1000 ft,B-737-400,859,Engine Shut Down,2000-11-23,Caused damage,US AIRWAYS*,New York,Climb,none,No Cloud,Unknown bird - medium,N,30736,1500.0,0
1,208159,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,424,none,2001-07-25,Caused damage,AMERICAN AIRLINES,Texas,Landing Roll,none,Some Cloud,Rock pigeon,Y,0,0.0,0
2,207601,LAKEFRONT AIRPORT,< 1000 ft,C-500,261,none,2001-09-14,No damage,BUSINESS,Louisiana,Approach,none,No Cloud,European starling,N,0,50.0,0
3,215953,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,806,Precautionary Landing,2002-09-05,No damage,ALASKA AIRLINES,Washington,Climb,none,Some Cloud,European starling,Y,0,50.0,0
4,219878,NORFOLK INTL,< 1000 ft,CL-RJ100/200,942,none,2003-06-23,No damage,COMAIR AIRLINES,Virginia,Approach,none,No Cloud,European starling,N,0,50.0,0

In [27]:
bird_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25558 entries, 0 to 25557
Data columns (total 18 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   record_id                          25558 non-null  int64
 1   airport_name                       25558 non-null  string
 2   altitude_bin                       25558 non-null  string
 3   aircraft_makemodel                 25558 non-null  string
 4   wildlife_number_struck_actual      25558 non-null  int64
 5   effect_impact_to_flight            25558 non-null  string
 6   flightdate                         25558 non-null  datetime64[ns]
 7   effect_indicated_damage            25558 non-null  string
 8   aircraft_airlineoperator           25558 non-null  string
 9   origin_state                       25558 non-null  string
 10  when_phase_of_flight               25558 non-null  string
 11  conditions_precipitation           25558 non-null  string
 12  conditions_sky                     25558 non-null  string
 13  wildlife_species                   25558 non-null  string
 14  pilot_warned_of_birds_or_wildlife  25558 non-null  string
 15  cost_total_                        25558 non-null  int64
 16  feet_above_ground                  25558 non-null  float64
 17  number_of_people_injured           25558 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(4), string(12)
memory usage: 3.5 MB

In [30]:
#rename column if neccesary 
bird_df = bird_df.rename(columns = { 'aircraft_makemodel': 'aircraft_model', 
                          'wildlife_number_struck_actual': 'total_wildlife_struck',
                          'flightdate': 'flight_date',
                          'aircraft_airlineoperator': 'aircraft_airline',
                          'pilot_warned_of_birds_or_wildlife': 'pilot_warned_of_birds',
                          'cost_total_': 'total_cost'
                         })

In [33]:
bird_df.columns

Index(['record_id', 'airport_name', 'altitude_bin', 'aircraft_model',
       'total_wildlife_struck', 'effect_impact_to_flight', 'flight_date',
       'effect_indicated_damage', 'aircraft_airline', 'origin_state',
       'when_phase_of_flight', 'conditions_precipitation', 'conditions_sky',
       'wildlife_species', 'pilot_warned_of_birds', 'total_cost',
       'feet_above_ground', 'number_of_people_injured'],
      dtype='object')

In [35]:
#save the file
#bird_df.to_csv('bird_strike_db.csv', index = False, encoding = 'utf-8')

In [37]:
pd.Series(bird_df.columns)

0                    record_id
1                 airport_name
2                 altitude_bin
3               aircraft_model
4        total_wildlife_struck
5      effect_impact_to_flight
6                  flight_date
7      effect_indicated_damage
8             aircraft_airline
9                 origin_state
10        when_phase_of_flight
11    conditions_precipitation
12              conditions_sky
13            wildlife_species
14       pilot_warned_of_birds
15                  total_cost
16           feet_above_ground
17    number_of_people_injured
dtype: object